Config { font = "xft:Iosevka:size=9:antialias=true:autohint=false:hintstyle=hintslight"
       , bgColor = "#1e1f29"
       , fgColor = "#dedede"
       , border = NoBorder
       , position = Static { xpos=0, ypos=0, width = 1920, height = 22 }
       , textOffset = 17
       , commands = [ Run UnsafeStdinReader
                    , Run Date "%a %Y-%m-%d %H:%M" "date" 10 ]
       , sepChar = "%"
       , alignSep = "}{"
       , template = "%UnsafeStdinReader%}\
                    \{%date%"
       }
